{% extends "base.html" %}
{% load static %}

{% block title %}About{% endblock %}

{% block body_block %}
	 <div class="page-header">
                <h1>About </br>
                    <small>This is Rango's about page.</small></h1>
     </div>
    <button onClick="alert('You clicked the button using Javascript.');">
       Click Me - I run Javascript
    </button>

    <button id="about-btn"> Click Me - I'm Javascript on Speed</button><br/>


	You've visited the site on <strong>{{ visit_count }} times(s).</strong><br/>

{% endblock %}